/* styles.css 파일 내용 */

body {
    overflow: hidden; /* 화면 스크롤바 숨김 */
}

/* 네비게이션바 스타일 */
nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .login-btn {
    margin-right: 20px;
  }
  
/* 메인 콘텐츠 스타일 */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px; /* 네비게이션바와의 여백 추가 */
    padding-bottom: 50px; /* 탭바와의 여백 추가 */
    height: calc(100vh - 130px); /* 화면 높이를 고려한 적당한 높이 설정 */
    overflow: hidden; /* 스크롤바 숨김 */
  }
  
  /* 탭바 스타일 */
  .tab-bar {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #888;
  }
  
  .tab i {
    font-size: 24px;
  }
  
  .tab span {
    font-size: 12px;
    margin-top: 5px;
  }
  
  .tab.active {
    color: #000;
  }
  
/* 친구 목록 스타일 */
.friend-list {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 정렬을 중앙에 배치 */
    width: 80%; /* 친구 목록의 가로 크기 조정 */
    max-width: 600px; /* 최대 가로 너비 설정 */
    margin-top: 20px;
    margin-bottom: 20px; /* 탭바와의 여백 추가 */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* 친구 목록이 길어질 경우 스크롤 가능하도록 설정 */
  }
  
  .friend {
    margin-bottom: 30px; /* 각 친구 목록 사이에 여백 추가 */
  }
  
  .friend-info {
    flex-grow: 1; /* 친구 정보 영역을 확장하여 친구 목록 사이즈에 맞게 조정 */
  }
  
  .profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .friend-info h3 {
    margin: 0;
  }
  
  .friend-info p {
    margin: 0;
    color: #888;
    font-size: 12px;
  }
  
  /* 새로운 친구 목록이 추가될 때 애니메이션 효과 */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .friend.new {
    animation: fadeIn 0.5s ease-in-out forwards;
  }