/* 메인 컨테이너 */
.main-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

/* 네비게이션 컨테이너 (메인 페이지 좌측 컴포넌트) */
.navigation-container{
    width: 20%;
    height: 100vh;
    display: flex;
}

/* 탭바 */
.navigation-tab-container{
    width: 18%;
    height: 100vh;
    background-color: #141414;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
}

.navigation-tab-title-logo{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navigation-tab-icon{
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 컨텐츠들 */
.navigation-tab-inner{
    width: 82%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigation-tab-content-selector{
    width: 100%;
    height: 6.7%;
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: #2041E3;
}

.content-selector-title{
    margin-left: 15px;
    margin-right: auto;
    font-size: larger;
    font-style: bold;
    color: #FFFFFF;
}

.navigation-tab-content{
    width: 100%;
    height: 97.3%;
    background-color: #EFF4FC;
}

/* 아코디언 패널 아이템 */
p.accordion-panel-item{
    /* top right bottom left */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}

/* 컨텐츠 컨테이너 (메인 페이지 우측 컴포넌트) */
.content-container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 검색 패널*/
.content-search-panel{
    width: 100%;
    height: 6.7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3254FF;
}

.content-input-container {
    position: relative;
    margin-left: 20px;
}
  
.content-input-container input {
  padding-left: 35px; /* Adjust the padding to make space for the icon */
  background-color: #2041E3;
  color: white;
  border: none;
  height: 40px;
  width: 800px;
  border-radius: 4px;
}

.content-input-container input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Adjust the opacity to make it slightly gray */
}

.content-input-container input:focus{
    outline: none;
    border: none;
}

.content-input-container input:focus::placeholder{
    color:transparent;
}

.content-input-container .content-search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}

/* 메인 컨텐츠 */
.content-inner{
    width: 100%;
    height: 97.3%;
}

/* 헤더 컨테이너 */
.content-header{
    width: 100%;
    height: 6.7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.7px solid gray;
}

/* 헤더 좌측 텍스트 */
.content-header-left{
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.content-header-left h2{
    font-size: 24px;
    font-style: bold;
    color: #141414;
    margin-right: 5px;
}

.content-header-left p{
    font-size: 18px;
    font-style: normal;
    color: gray
}

/* 헤더 우측 아이콘 / 아바타 */
.content-header-right{
    margin-right: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.content-header-right-icon{
    width: 30px;
    height: 30px;
}

.content-body{
    width: 100%;
    height: 93.3%;
    position: relative;
}

.content-body-inner{
    position: absolute;
    display: flex;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px); 
    height: calc(100% - 40px);
}
